/*Fuente Rancho footer titulo luna verde*/
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/*Navbar*/

header {
  text-align: center;
}

nav.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
}

nav.navbar a{
  display: block;
  color: black;
  font-weight: bold;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 25px;
}

nav.navbar .luna-verde{
  display: block;
  font-weight: bold;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 80px;
}

nav.navbar a:hover {
  color: green;
}


.navbar .luna-verde {
  color: #8bc34a; /* Color para "Luna" */
  font-family: 'Rancho', cursive;

}

.navbar .luna-verde span {
  color: #F4A261; /* Color específico para "Verde" */
}

/* Estilos para el logo (reemplaza con tu propio logo) */
.logo {
  float: right;
  width: 150px; /* Ajusta esto según el tamaño de tu logo */
  height: 150px; /* Ajusta esto según el tamaño de tu logo */
}

/*Section info*/

.sobre-restaurante {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #F4F4F4;
  
}

.descripcion-restaurante {
  flex-basis: 50%;
  font-size: 30px;
  padding: 20px;
  margin-right: 150px;
}

.descripcion-restaurante p{
  margin-bottom: 100px;
}

.imagenes-platos {
  flex-basis: 50%;
}

.imagenes-platos img {
  width: 500px; 
  height: 300px ; /* Ajusta la altura automáticamente */
  border: 2px solid gray; /* Borde opcional */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 5px ;
}

/* Estilos para el botón .ver-menu */
.ver-menu {
  background-color: #4CAF50; /* Color verde para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 220px;

  /* Elimina cualquier margen o alineación adicional si existe */
}

.ver-menu:hover {
  background-color: #367B37; /* Color verde más oscuro para el hover */
}

/*Footer*/

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  font-family: Arial, sans-serif;
  padding: 0px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.footer-grid .luna-verde h2 {
  font-family: 'Rancho', cursive;
  font-size: 46px;
  color: #8bc34a;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.footer-grid .luna-verde p {
  font-size: 12px;
  margin-left: 30px;
  width: 280px;
  color: #fff;
  text-align: justify;
}

.footer-grid .verde {
  color: #F4A261
}

.horarios h4{
  color: #7AB828;
  margin-bottom: 10px;
}

.direccion h4{
  color: #E76F51;
  margin-bottom: 10px;
}
.telefono h4 {
  color: #F4A261;
  margin-bottom: 10px;
}

.telefono h4 i {
  color: #F4A261;
  margin-right: 10px;
}
.horarios ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horarios ul li {
  margin-bottom: 5px;
  font-size: 12px;

}

/*Redes sociales */


/* Estilos de los íconos de las redes sociales */
.redes-sociales a {
  color: #ffffff;
  font-size: 40px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out; /* Efecto de transición en el color */
  margin-left: 30px;
}

/* Efecto hover en los íconos de las redes sociales */
.redes-sociales a:hover {
  color: #7AB828; /* Cambia el color del ícono al pasar el cursor por encima */
  transform: scale(1.2); /* Aumenta el tamaño del ícono al pasar el cursor por encima */
}

/* Animación para los íconos de las redes sociales */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.redes-sociales a {
  animation: bounce 1s infinite; /* Animación que se repite infinitamente */
}
.creditos {
  padding: 0px;
  text-align: center;
  font-size: 12px;
  margin-top: 0PX;
  
}

.creditos p {
  margin: 0;
  padding: 0;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}